.exercise {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: space-evenly;
}


.exerciseName{
    flex: 70%;
    text-align: center;
    
}
.exerciseDuration{
    flex: 20%;
    text-align: center;
}
.exerciseDel{
    flex: 10%;
    text-align: center;
}

.exerciseName div{
    width: 90%;
    margin: auto;
    text-align: left;
    background-color: var(--exercisebgcolor);
    padding: 3px;
    border-radius: 4px;
  
}

.exerciseDuration div{
    width: 40px;
    margin: auto;
    text-align: center;
    background-color: var(--exercisebgcolor);
    padding: 3px;
    border-radius: 4px;
}

