.exerciseCard {
    background-color: var(--cardbgcolor);
    border-radius: 8px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cardHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;   
    padding: 2px;
    background-color: var(--barcolor);
    border-radius: 12px;

}

.cardHeaderSpace, .cardHeaderName, .cardHeaderBtn{
  width: 100%;
  text-align: center;  
  color: white;
  font-size: 0.8rem;
}

.cardHeaderBtn div{
    text-align: right !important;
    color: white;
    font-size: 0.8rem;
}

.cardBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.addMore{
    margin: 10px;
    width: 90%;
    text-align: center;
    border-radius: 4px;

}

